<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아직 개발 전</title>
    <style>
        body {
            background: #dddd00;
            font-family: "한컴 말랑말랑 Regular", "궁서체", arial, sans-serif;
            font-size: 3.6rem;
            text-shadow:
            0 0 3px #fff,
            0 0 7px #eeeeee,
            0 0 11px #d9d9d9,
            0 0 16px #c0c0c0,
            0 0 23px #a8a8a8,
            0 0 33px #9a9a9a,
            0 0 45px #909090,
            0 0 60px #898989;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    두 명의 <b>초딩</b> 프로그래머가 열심히 개발하고 있습니다!<br>
    <a href="https://dani.ggm.kr">dani-Devofficial 공식 홈페이지</a><br>
    program416은 공식 홈페이지는 없습니다. (추후 개발 예정)<hr>
    서버 테스트 HTML을 끝까지 읽어주셔서 감사합니다.
</body>
</html>